In [1]:
import pandas as pd
squirrels = pd.read_csv('squirrel.csv')

In [5]:
squirrel_redux = squirrels[['Primary Fur Color']]

squirrel_redux

     Primary Fur Color
0                  NaN
1                  NaN
2                 Gray
3                 Gray
4                 Gray
...                ...
3018              Gray
3019              Gray
3020              Gray
3021              Gray
3022          Cinnamon

[3023 rows x 1 columns]